extends layout

block content
  .container
    #banner
      .row
        .col-lg-8.col-md-7.col-sm-6
          h1 Bolster | Metadata Management System
      p
        | The Semantic Layer contains the Metadata Management System, the cornerstone for a semantic-aware Big Data system.
        | The Semantic Layer is responsible of providing the other components with the necessary information to describe and model raw data,
        | as well as keeping the footprint about data usage.
        | With this purpose, the MDR contains all the metadata artifacts needed to deal with data governance and assist data exploitation.
      p
          ol
                li
                    | Data analysts should perform their analysis
                    | using their day-by-day vocabulary. With this
                    | purpose, the Domain Vocabulary contains
                    | the business concepts (e.g., customer, order,
                    | lineitem) and their relationships.
                li
                    | In order to free data analysts from data management tasks and decouple this role from the
                    | data steward, each vocabulary term must be
                    | mapped to the system views. Thus, the MDR must be aware of the View Schemata and
                    | the mappings between the vocabulary and such schemata (e.g., the customer concept may map
                    | to the CH00 attribute in the info family of the custTable table in HBase, which implements the v1 batch view).
                li
                    | Data analysts tend to repeat the same data  preparation steps prior to conducting their analysis.
                    | To enable reusability and a collaborative exploitation of the data, the MDR must store
                    | Pre-processing Domain Knowledge about data preparation rules (e.g., data cleaning, discretization, etc.) related to a certain domain
                    | (e.g., the customer age may be discretized in n equal-size intervals prior to applying a Naive-Bayes classifier), or on the other hand
                    | descriptive statistics to assess data evolution.
                li
                    | To deal with automatic inclusion of new data sources (R4.3), each element in the DL must be annotated with its schema information (similarly for
                    | the sliding window). To that end, the Data Source Register tracks all input data sources together with the required
                    | information to parse it, the physical schema, and each schema element has to be linked to the attributes it populates, the logical schema, (e.g.,
                    | in the JSON file customer.dat the key cname maps to the Name attribute of class Customer). Furthermore, for data provenance,
                    | the Data Transformations Log has to keep track of the performed transformation steps to produce the views, which are the last
                    | processing step within the Big Data system (e.g., the cust_id field; after applying a trim function to remove blanks is stored in the CH00 field of the v1 batch view).