extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src='/js/client_manage_three_level_ontologies.js')
block content


    .container
        .banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h2 Manage Three Level Ontologies
                    br
            .container-fluid
                .bs-component
                    table.table.table-striped.table-hover#threeLevelOntologies
                        thead
                            tr
                                th #
                                th Name
                                th Domain Ontology
                                th Logical Ontology
                                th Physical Ontology
                                th User
                        tbody