extends layout
block headers
    script(src='/js/underscore-1.8.3.min.js')
    link(href="/js/select2-3.5.4/select2.css", rel="stylesheet")
    script(src='/js/select2-3.5.4/select2.min.js')
    link(rel='stylesheet', href='/stylesheets/loading.css')
    link(rel='stylesheet', href='/stylesheets/new_dataset.css')
    script(src='/js/client_new_three_level_ontology.js')
block content

    .container
        .banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h2 New Three-Level Ontology
                    br

            .container-fluid
                .col-lg-8
                    .well.bs-component
                        form#threeLevelOntologyForm(role='form').form-horizontal
                            .form-group#threeLevelOntologyNameForm
                                label.col-lg-2.control-label(for='threeLevelOntologyName') Name
                                .col-lg-10
                                    input#threeLevelOntologyName.form-control(type='text', name='threeLevelOntologyName', required='required')
                            .form-group#domainOntologyForm
                                label.col-lg-2.control-label(for='domainOntology') Domain Ontology
                                .col-lg-10
                                    select#domainOntology(data-placeholder='Select a domain ontology',multiple=false,style="width:100%")
                            .form-group#logicalOntologyForm
                                label.col-lg-2.control-label(for='logicalOntology') Logical Ontology
                                .col-lg-10
                                    select#logicalOntology(data-placeholder='Select a logical ontology',multiple=false,style="width:100%")
                            .form-group#physicalOntologyForm
                                label.col-lg-2.control-label(for='physicalOntology') Physical Ontology
                                .col-lg-10
                                    select#physicalOntology(data-placeholder='Select a physical ontology',multiple=false,style="width:100%")

                            .form-group
                                .col-lg-10.col-lg-offset-2
                                    button#save.btn.btn-primary.btn-lg.btn-block(type='submit') Submit