extends layout

block headers
    script(src='/js/jquery-ui/jquery-ui.js')
    script(src='/js/d3.v3.min.js')
    script(src='/js/d3.tip.v0.6.3.js')
    script(src='/js/socket.io.js')
    script(src='/js/line-graph.js')
    script(src='/js/client_siemens_plot_breakdown.js')


block content
    .container
        #banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h3 SIEMENS Prototype
            p
                | Each plot depicts API calls across time for a specific API. As the stream pushes new APIs, new plots are dinamically generated. Green lines stand for successful API calls while red lines for unsuccessful.
                | Note that, in this prototype, timestamps do not match those in the real log but the current date.
            h4 Plots (breakdown per API)


            .row
                #allPlots