doctype html
html
  head
    title="Bolster | MDM"
    script(src='/js/jquery-2.2.3.min.js')
    script(src='/js/underscore-1.8.3.min.js')
    script(src='/js/bootswatch.js')
    script(src='/js/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootswatch.min.css')
    block headers

  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='/') Bolster
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
          span.icon-bar
          span.icon-bar
          span.icon-bar

      #navbar-main.navbar-collapse.collapse
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Reference Datasets
              span.caret
            ul.dropdown-menu(aria-labelledby='projects')
              li
                a(href='/new_dataset') Upload Reference Dataset
              li
                a(href='/manage_datasets') Manage Reference Datasets

        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Global Level
              span.caret
            ul.dropdown-menu(aria-labelledby='projects')
              li
                a(href='/new_global_levels') New Global Level
              li
                a(href='/manage_global_levels') Manage Global Levels

        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Logical Ontologies
              span.caret
            ul.dropdown-menu(aria-labelledby='projects')
              li
                a(href='/manage_logical_ontologies') Manage Logical Ontologies
              li.divider
              li
                a(href='/ontology_extraction') Manual Generation
              li
                a(href='/clone_physical_to_logical') Clone from Physical Ontology


        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Physical Ontologies
              span.caret
            ul.dropdown-menu(aria-labelledby='projects')
              li
                a(href='/new_physical_ontology') New Physical Ontology
              li
                a(href='/manage_physical_ontologies') Manage Physical Ontologies


        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Three Level Ontology
              span.caret
            ul.dropdown-menu(aria-labelledby='projects')
              li
                a(href='/new_three_level_ontology') New Three-Level Ontology
              li
                a(href='/manage_three_level_ontologies') Manage Three-Level Ontologies

        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Signed in as #{user.username}
              span.caret
            ul.dropdown-menu(aria-labelledby='username')
              li
                a(href='/logout') Logout
  block content