extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src='/js/client_manage_datasets.js')
block content


    .container
        .banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h2 Manage Datasets
                    br
            .container-fluid
                .bs-component
                    table.table.table-striped.table-hover#datasets
                        thead
                            tr
                                th #
                                th Name
                                th ID
                                th Type
                                th User
                        tbody