extends layout
block headers
    link(rel='stylesheet', href='/stylesheets/loading.css')
    script(src='/js/client_new_cer_rule.js')
    link(href='/js/select2-4.0.3/dist/css/select2.min.css', rel='stylesheet', type='text/css')
    script(src='/js/select2-4.0.3/dist/js/select2.min.js')
    link(rel='stylesheet', href='/stylesheets/select2-bootstrap.min.css')

block content

    .container
        .banner
            .row
                .col-lg-8.col-md-7.col-sm-6
                    h2 New CER Rule
                    br

            .container-fluid
                .col-lg-9
                    .well.bs-component
                        form#cerRuleForm(role='form').form-horizontal
                            .form-group
                                label.col-lg-2.control-label(for='name') Name
                                .col-lg-10
                                    input#name.form-control(type='text', name='name', required='required')

                            .form-group
                                label.col-md-2.control-label(for='pattern') Pattern
                                .col-lg-10
                                    select#pattern(multiple='multiple',style="width:100%")

                            //.form-group
                                label.col-lg-2.control-label(for='condition') Condition
                                .col-lg-10
                                    input#condition.form-control(type='text', name='condition')

                            .form-group#filters
                                label.col-md-2.control-label Filters for selected Pattern
                                .col-lg-10
                                    ul.nav.nav-tabs(role='tablist')#tabPanel
                                        button#addSimpleClause.btn.btn-primary.btn-md(type='submit') +
                                        li(role='presentation')

                                    .tab-content.fill#tabContent

                            .form-group#actionForm
                                label.col-lg-2.control-label Action
                                .col-lg-10
                                    //.form-group
                                        label.col-lg-2.control-label Name
                                        .col-lg-10
                                            input#actionName.form-control(type='text', name='actionName', required='required')

                                    .form-group
                                        label.col-lg-2.control-label Type
                                        .col-lg-10
                                            select#actionType(style="width:100%")

                                    .form-group
                                        label.col-lg-2.control-label Parameters
                                        ul.nav.nav-tabs(role='tablist')#actionTabPanel
                                            button#addActionParameter.btn.btn-primary.btn-md(type='submit') +
                                            li(role='presentation')

                                        .tab-content.fill#actionTabContent

                            .form-group#windowTimeForm
                                label.col-lg-2.control-label(for='windowTime') Within
                                .col-lg-10
                                    input#windowTime.form-control(type='text', name='windowTime')

                            .form-group#windowSizeForm
                                label.col-lg-2.control-label(for='windowSize') Number of Elements in Window
                                .col-lg-10
                                    input#windowSize.form-control(type='text', name='windowSize')

                            .form-group
                                .col-lg-10.col-lg-offset-2
                                    button#submitEcaRule.btn.btn-primary.btn-lg.btn-block(type='submit') Submit
                            //.form-group
                                .col-lg-10.col-lg-offset-2
                                    button#directGeneration.btn.btn-primary.btn-lg.btn-block(type='submit') Direct Generation